body{
	text-align: center;
	background-color: white;
}
.button{
	border-radius: 9px;
	color: white;
	border:none;
	outline: none;
	background-color: gray;
	font-size: 15px;
	padding:10px;
}
.button:hover{
	background-color: red;
	cursor:pointer;
}
.login-form{
	margin:auto;
	padding: 20px;
	width:200px;
	border-radius: 10px;
	background: black;
}
.login-form input[type="text"],.login-form input[type="password"]{
	display: inline-block;
	padding: 10px;
	margin-bottom: 10px;
	border:none;
	outline: none;
	color: #fff;
	background:rgba(255,255,255,0);
	border-bottom: 2px solid green;
}